.App{
  text-align: center;
}

.pagination{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  cursor: pointer;
}

.pagination a{
  padding: 10px;
  border: 1px solid #47a7de;
  color: #47a7de;
}
